<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

<typeAliases>
	<typeAlias type="cn.lic.model.User" alias="User"/>
	<package name="cn.lic.model"/>
</typeAliases>
<mappers>
	<mapper resource="cn/lic/mapper/userMapper.xml"/>
	<mapper resource="cn/lic/mapper/articleMapper.xml"/>
</mappers>
</configuration>